@page "/"

<PageTitle>Wlelcome Page</PageTitle>

<h1>CyberSecurity Research Project!</h1>

Welcome to your new app. This application implements the following basic security functions. 

<ul>
    <li>Password Encryption:
       <ul>Encryption: 3DES, Mode: ECB, Padding: Pkcs7, Output: Base64.</ul>
       <ul>Encryption: MD5 hash</ul>
       <ul>Encryption: SHA1 hash</ul>
       <ul>Encryption: SHA216 hash</ul>
    </li>
    <li>Password Strength Checker with the following requiments:
        <ul>At least 8 characters long</ul>
        <ul>2 letters</ul>
        <ul>2 digits</ul>
        <ul>1 Upper case</ul>
        <ul>1 lower case</ul>
        <ul>1 Symbol</ul>
    </li>
    <li>Password Generation</li>      
</ul>