@page "/"

<PageTitle>Wlelcome Page</PageTitle>

<h1>CyberSecurity Research Project!</h1>

Welcome to your new app. This application implements the following basic security functions. 

<ul>
    <li>Password Encryption:
       <ul>Encryption: 3DES, Mode: ECB, Padding: Pkcs7, Output: Base64.</ul>
       <ul>Encryption: MD5 hash</ul>
     </li>
    <li>Password Strength Checker</li>
    <li>Password Generation</li>      
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />
