@page "/passwordEncryption"

@using SecurityTool.Data
@inject CryptographyServices CryptoService

<PageTitle>Password Encryption</PageTitle>
<h1>Password Encryption</h1>

    <div>
        <div class="form-group">
            <label>Text to Encrypt</label>
            <input @bind="inputTextValue" class="form-control" />
        </div>
    </div>

    <div>
        <button class="btn btn-primary mt-1" @onclick="Apply3DESEncryption">3DES </button>
        <button class="btn btn-primary mt-1" @onclick="ApplyMD5HashEncryption">MD5 Hash</button>
    </div>    

    <p>Encrypted Password: @encryptedText</p>
    <button class="btn btn-primary" @onclick="ClearFormEdit">Clear</button>

@code {
    string inputTextValue = "";
    private string encryptedText = String.Empty;

    CryptographyServices CryptoServiceInstance = new CryptographyServices();

    private void Apply3DESEncryption()
    {
        if (!String.IsNullOrEmpty(inputTextValue))
        {
            encryptedText = CryptoServiceInstance.TDESEncryption(inputTextValue);
        } else
        {
            encryptedText = "You must enter a value in the Text to Encrypt field";
        }
    }

    private void ApplyMD5HashEncryption()
    {
        if (!String.IsNullOrEmpty(inputTextValue)){
            encryptedText = CryptoServiceInstance.MD5HashEncryption(inputTextValue);
        }  else
        {
            encryptedText = "You must enter a value in the Text to Encrypt field";
        }      
    }

    private void ClearFormEdit()
    {
        encryptedText = String.Empty;
        inputTextValue = String.Empty;
    }
}