@page "/passwordchecker"

<PageTitle>Password Strength Checker</PageTitle>

<h1>Password Strength Checker</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="checkPasswordStrength">Continue</button>

@code {
    private int currentCount = 0;

    private void checkPasswordStrength()
    {
        currentCount++;
    }
}
