@page "/passwordchecker"

@using SecurityTool.Data
@inject CryptographyServices CryptoService

<PageTitle>Password Strength Checker</PageTitle>

<h1>Password Strength Checker</h1>

    <div>
        <div class="form-group">
            <label>Evaluate Your Password</label>
            <input @bind="inputTextValue" class="form-control" />
        </div>
    </div>

    <div>
    <button class="btn btn-primary mt-1" @onclick="EvaluatePassword">Check </button>
    <button class="btn btn-primary mt-1" @onclick="ClearFormEdit">Clear</button>
    </div>

<p>Your password strength: @checkResult</p>

@code {
    string inputTextValue = "";
    private string checkResult = String.Empty;

    CryptographyServices CryptoServiceInstance = new CryptographyServices();

    private void EvaluatePassword()
    {
        if (!String.IsNullOrEmpty(inputTextValue))
        {
             checkResult = CryptoService.CheckPasswordStrength(inputTextValue).ErrorMessage;
        }
        else
        {
            checkResult = "You must enter a value in the Text to Encrypt field";
        }
    }


    private void ClearFormEdit()
    {
        checkResult = String.Empty;
        inputTextValue = String.Empty;
    }
}
