@page "/passwordgenerator"
@using SecurityTool.Data
@inject CryptographyServices CryptoService

<PageTitle>Password Generator</PageTitle>

<h1>Password Generator</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="GeneratePassword">Click me</button>

@code {
    private int currentCount = 0;

    private void GeneratePassword()
    {
        currentCount++;
    }
}
