@page "/passwordgenerator"
@using SecurityTool.Data
@inject CryptographyServices CryptoService

<PageTitle>Password Generator</PageTitle>

<h1>Password Generator</h1>


<div>
    <button class="btn btn-primary mt-1" @onclick="GeneratePassword">Generate </button>
    <button class="btn btn-primary mt-1" @onclick="ClearFormEdit">Clear</button>
</div>

<p>Your password strength: @generatedPassword</p>

@code {
    private string generatedPassword = String.Empty;
    CryptographyServices CryptoServiceInstance = new CryptographyServices();

    private void GeneratePassword()
    {
       generatedPassword = CryptoServiceInstance.GenerateNewStrongPassword();
    }

    private void ClearFormEdit()
    {
       generatedPassword = String.Empty;        
    }
}
